# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Project Data (TESS FITS files & processed NPZ files are too large for Git)
data/

# Generated Plots
plots/

# Pytest Cache
.pytest_cache/

# IDE and Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
